package components

import "github.com/Random7-JF/guild-plot/models"
import "strconv"
import "fmt"


templ Plots(Houses []models.HousePlot) {
	for _, value := range Houses{
		<div
		    class={ "plot-symbol" }
			style={ fmt.Sprintf("left: %dpx; top: %dpx;", value.X, value.Y) }
			data-plot-id={ strconv.Itoa(value.PlotNumber) }
		>
			<img src="/static/img/house.svg" width="24" height="24"/>
		</div>
	}
	<script src="/static/js/map.js"></script>
}